header {
    background-color: rgb(185, 225, 139); /* Arrière-plan de l'en-tête */
    color: #fff; /* Couleur du texte dans l'en-tête */
    padding: 15px; /* Espace autour du contenu de l'en-tête */
    border-radius: 10px;
}

/* Style de base pour la barre de navigation */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2px;
    color: #fff;
    border-radius: 10px;
    background-color: rgb(185, 225, 139);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    background-color: rgb(185, 225, 139);
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: larger;
    font-weight: bold;
    background-color: rgb(185, 225, 139);
    color: whitesmoke;
}

/* Style au survol des liens */
nav a:hover {
    text-decoration: underline;
    color: rgb(255, 109, 198);
    background-color: rgb(185, 225, 139);
}

/* Style pour la barre de recherche */
.search-box {
    display: flex;
    color: rgb(255, 109, 198);
    background-color: rgb(185, 225, 139);
}

.search-box input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: rgb(255, 109, 198);

}

.search-box button {
    background-color: rgb(185, 225, 139);
    color: rgb(255, 109, 198);
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    margin-bottom: 10px;
}

/* Style au survol du bouton de recherche */
.search-box button:hover {
    background-color: #555;
}
